{{#partial "contenido"}}
    <div class = "altaProveedor">
        <center>
            <h2>Nuevo proveedor</h2>
            <form action="javascript:void(0)" method="post">
                <table class= "formulario" border = 0 >
                    <tr>
                        <td>Nombre:</td>
                        <td><input type="text" name="nombre" id="alta-nombre" placeholder="Ingrese el nombre"  id=" altaProveedor-nombre" required></td>
                    </tr>
                    <tr>
                        <td>Apellido:</td>
                        <td><input type="text" name="apellido" id="alta-apellido" placeholder="Ingrese el apellido" id="altaProveedor-apellido" required></td>
                    </tr>
                    <tr>
                        <td>Razón Social:</td>
                        <td><input type="text" name="dni" id="alta-razonSocial" placeholder="Ingrese la razon social"  id = "altaProveedor-razonSocial" required></td>
                    </tr>
                    <tr>
                        <td>CUIT/CUIL:</td>
                        <td><input type="number" min="0" name="dni" id="alta-cuit_cuil" placeholder="Ingrese el dni" id="altaProveedor-dni" required></td>
                    </tr>
                    <tr>
                        <td>País:</td>
                        <td>
                            <select name="pais" id="altaProveedor-pais" required >
                            <option hidden selected>Seleccionar país</option>
                            {{#each listaPaises}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>Provincia:</td>
                        <td>
                            <select name="provincia" id="altaProveedor-provincia"required disabled>
                                <option hidden selected>Seleccionar provincia</option>
                                {{#each listaProvincias}}
                                    <option value="{{id}}" data-attribute="{{paisAsociado.id}}">{{name}}</option>
                                {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>Ciudad:</td>
                        <td>
                            <select name="ciudad"  id="altaProveedor-ciudad" required disabled>
                                <option hidden selected>Seleccionar Ciudad</option>
                                {{#each listaCiudades}}
                                    <option value="{{id}}" data-attribute="{{provinciaAsociada.id}}">{{name}}</option>
                                {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>Calle:</td>
                        <td><input type="text" name="calle" id="altaproveedor-calle" placeholder="Ingrese la calle" required></td>
                    </tr>
                    <tr>
                        <td>Altura:</td>
                        <td><input type="number" min="0" name="altura" id="altaProveedor-altura" placeholder="Ingrese la altura" required></td>
                    </tr>
                    <tr>
                        <td>Departamento:</td>
                        <td><input type="number"  min="0" name="departamento" id="altaProveedor-departamento" placeholder="Ingrese el departamento" required></td>
                    </tr>
                    <tr>
                        <td>Piso:</td>
                        <td><input type="number"  min="0" name="piso" id="altaProveedor-piso" placeholder="Ingrese la altura" required></td>
                    </tr>
                </table>
                <button type= "submit" onclick="mostrarModalGuardadoAltaNuevoProveedor()">Guardar</button>
            </form>
        </center>
    </div>
    <script src="/js/altaProveedor.js"></script>
    <link rel="stylesheet" href="/css/estiloAltaProveedor.css" />
{{/partial}}
{{>principalAdministrador.hbs}}