{{#partial "contenido"}}
    <div class = "altaEntidadJuridica">
        <form action= "javascript:void(0)" method="post">
            <center>
                <h2>Nueva Entidad Juridica</h2>
                <table class= "formulario" border = 0 >
                    <tr>
                        <td>Nombre:</td>
                        <td><input type="text" name="codigo" id = "altaEntidadJuridica-nombre" placeholder="Ingrese un codigo" required></td>
                    </tr>
                    <tr>
                        <td>Nombre Ficticio:</td>
                        <td><input type="text" name="codigo" id = "altaEntidadJuridica-nombreFicticio" placeholder="Ingrese un codigo" required></td>
                    </tr>
                    <tr>
                        <td>Codigo Inscripcion Definitiva:</td>
                        <td><input type="text" name="codigo" id = "altaEntidadJuridica-codigo" placeholder="Ingrese un codigo" required></td>
                    </tr>
                    <tr>
                        <td>Cuit:</td>

                        <td><input type="text" name="cuit" id = "altaEntidadJuridica-cuit" placeholder="Ingrese un cuit" required></td>
                    </tr>
                    <tr>
                        <td>Razon Social:</td>
                        <td><input type="text" name="razonSocial" id = "altaEntidadJuridica-razonSocial" placeholder="Ingrese una razon social" required></td>
                    </tr>
                    <tr>
                        <td>País:</td>
                        <td>
                            <select name="pais" id="altaProveedor-pais" required >
                                <option hidden selected>Seleccionar país</option>
                                {{#each listaPaisesEJ}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>Provincia:</td>
                        <td>
                            <select name="provincia" id="altaProveedor-provincia"required disabled>
                                <option hidden selected>Seleccionar provincia</option>
                                {{#each listaProvinciasEJ}}
                                    <option value="{{id}}" data-attribute="{{paisAsociado.id}}">{{name}}</option>
                                {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>Ciudad:</td>
                        <td>
                            <select name="ciudad"  id="altaProveedor-ciudad" required disabled>
                                <option hidden selected>Seleccionar Ciudad</option>
                                {{#each listaCiudadesEJ}}
                                    <option value="{{id}}" data-attribute="{{provinciaAsociada.id}}">{{name}}</option>
                                {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td>Calle:</td>
                        <td><input type="text" name="calle" placeholder="Ingrese la calle"  id = "alta-calle" required></td>
                    </tr>
                    <tr>
                        <td>Altura:</td>
                        <td><input type="number" min="0" name="altura" placeholder="Ingrese la altura"  id = "alta-altura" required></td>
                    </tr>
                    <tr>
                        <td>Piso:</td>
                        <td><input type="number"  min="0" name="piso" placeholder="Ingrese la altura" id="alta-piso" required></td>
                    </tr>
                </table>
                <button type= "submit" onclick="mostrarModalGuardadoAltaEntidadJuridica()">Guardar</button>
            </center>
        </form>
    </div>
    <script src="/js/altaEntidadJuridica.js"></script>
    <link rel="stylesheet" href="/css/estiloAltaEntidadJuridica.css" />
{{/partial}}
{{>principalAdministrador.hbs}}