{{#partial "contenido"}}
<div class = "altaUsuario">

    <form action= "javascript:void(0)" method="post">
        <center>
            <h2>Nuevo usuario</h2>
            <table class= "formulario" border = 0 >
                <tr>
                    <td>Nombre:</td></td>
                    <td><input type="text" name="nombre" id = "altaUsuario-nombre" placeholder="Ingrese un nombre" required></td>
                </tr>
                <tr>
                    <td>Apellido:</td></td>

                    <td><input type="text" name="apellido" id = "altaUsuario-apellido" placeholder="Ingrese un apellido" required></td>
                </tr>
                <tr>
                    <td>Nombre de usuario:</td></td>
                    <td><input type="text" name="nombreDeUsuario" id = "altaUsuario-nombreDeUsuario" placeholder="Ingrese un usuario" required></td>
                </tr>
                <tr>
                    <td>Contraseña:</td></td>
                    <td><input type="password" name="contrasenia"   id = "altaUsuario-contrasenia" placeholder="Ingrese una contraseña" required></td>
                </tr>
                <tr>
                    <td>Entidad Juridica:</td></td>
                    <td>
                        <select name = "entidadJuridica" id = "altaUsuario-entidadJuridica" required >
                            <option hidden selected>Elegir una entidad jurídica</option>
                            {{#each entidadJuridica}}
                                <option>{{id}}-{{razonSocial}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tipo de usuario:</td></td>
                    <td>
                      <select name = "tipoUsuario" id = "altaUsuario-tipoUsuario" required >
                        <option hidden selected>Elegir tipo de usuario</option>
                          {{#each tiposUsuarios}}
                              <option>{{this}}</option>
                          {{/each}}
                      </select>
                    </td>
                </tr>
            </table>
                <button type= "submit" onclick="mostrarModalGuardadoAltaNuevoUsuario()">Guardar</button>
        </center>
    </form>
    <center>
            <h2>Habilitar usuarios</h2>
        <div class="table-wrapper">
            <table id="usuariosNoHabilitados">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>USUARIO</th>
                        <th>TIPO USUARIO</th>
                        <th>ESTOY HABILITADO</th>
                        <td>HABILITAR</td>
                    </tr>
                </thead>
                <tbody id="content_table">
                    {{#each usuariosNoHabilitados}}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{apellido}}</td>
                            <td>{{nombreUsuario}}</td>
                            <td>{{tipo}}</td>
                            <td>{{estoyHabilitado}}</td>
                            <td>
                                <div>
                                    <a class="fas fa-edit" onclick="habilitarUsuario('{{id}}')" style="cursor: pointer"></a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </center>
</div>
<link rel="stylesheet" href="/css/estiloAltaUsuario.css" />
<script src="/js/formatoDeTabla.js"></script>
<script src="/js/altaUsuario.js"></script>
{{/partial}}
{{>principalAdministrador.hbs}}