{{#partial "contenido"}}
    <div class = "altaUsuario">
        <br>
        <br>


        <form action="">
            <center>

            <table class= "formulario" border = 0 >
                <tr>
                    <td>Nombre:</td></td>

                    <td><input type="text" name="nombre" placeholder="Ingrese el nombre" required></td>
                </tr>
                <tr>
                    <td>Apellido:</td></td>

                    <td><input type="text" name="apellido" placeholder="Ingrese el apellido" required></td>
                </tr>

                <tr>
                    <td>Nombre de usuario:</td></td>

                    <td><input type="text" name="nombreUsuario" placeholder="Ingrese el usuario" required></td>
                </tr>

                <tr>
                    <td>Contraseña:</td></td>

                    <td><input type="password" name="contrasenia" placeholder="Ingrese la contraseña" required></td>
                </tr>

                <tr>
                    <td>Tipo usuario:</td></td>

                    <td>
                      <select name = "tipoUsuario" required >
                        <option hidden selected>Elegir tipo de usuario</option>

                          {{#each tiposUsuarios}}
                              <option>{{this}}</option>
                              {{/each}}



                      </select>
                    </td>
                </tr>

            </table>
                <button type= "submit" >Guardar</button>
            </center>

        </form>

        <center>
            <table>
                <td> Habilitar Usuario</td>
            </table>


            <div class="table-wrapper">

                <table id="usuariosNoHabilitados">


                    <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>USUARIO</th>
                        <th>TIPO USUARIO</th>
                        <th>ESTOY HABILITADO</th>
                        <th>HABILITAR</th>
                    </tr>
                    </thead>
                    <tbody id="content_table">
                    {{#each usuariosNoHabilitados}}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{apellido}}</td>
                            <td>{{nombreUsuario}}</td>
                            <td>{{tipo}}</td>
                            <td>{{estoyHabilitado}}</td>
                            <td>
                                <! EL BOTON BORRAR TODAVIA NO ESTÁ IMPLEMENTADO  <i class="fas fa-trash"  id = "borrar" value="Eliminar" /></i>-->

                                <div>
                                    <i class="fas fa-trash"  id = "borrar" value="Eliminar" /></i>
                                </div>


                            </td>

                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        </center>
    </div>



    <link rel="stylesheet" href="/css/estiloAltaUsuario.css" />
    <script src="/js/formatoDeTabla.js"></script>
{{/partial}}
{{>principalAdministrador.hbs}}