{{#partial "contenido"}}
    <div class="egresos">
        <br>
        <br>

        <form enctype="multipart/form-data" action="javascript:void(0)" method="post" id="formularioEgresos">
            <center>

                <h3>AGREGAR OPERACION DE EGRESO</h3>
                <table class="formulario" border="0">
                    <tr>
                        <td>Fecha:</td>
                        <td><input type="date" name="fecha" id="alta-fecha" required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tipo de Medio De Pago:</td>
                        <td>
                            <select name="medioDePago" id="alta-medioDePago" required >
                                <option hidden selected> Seleccionar medio de pago </option>
                                {{#each tiposMediosDePago}}
                                    <option>{{tipoPago}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Número Medio De Pago:</td>
                        <td><input type="number" name="numeroMedioDePago" id="alta-numeroMedioDePago" placeholder="Ej: 123456789" required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tipo de Documento Comercial:</td>
                        <td>
                            <select name = "documentoComercial" id="alta-documentoComercial" required>
                                <option hidden selected> Seleccionar documento comercial </option>
                                {{#each tiposDocumentoComercial}}
                                    <option>{{nombre}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Número Documento Comercial:</td>
                        <td><input type="number" name="numeroDocumentoComercial" id="alta-numeroDocumentoComercial" placeholder="Ej: 123456789" required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Proveedor:</td>
                        <td>
                            <select name = "proveedor" id="alta-proveedor" required>
                                <option hidden selected>Seleccionar proveedor</option>
                                {{#each proveedores}} <!-- este se alimenta del put de controller -->
                                    <option>{{razonSocialProveedor}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <button type="button" onclick="mostrarDetallesProveedor()" > Detalle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Adjuntar documento comercial:</td>
                        <td>
                            <!-- <form method="post" enctype="multipart/form-data" action="/guardarDocumentoEgreso"> -->
                                <input type="file" name="documentoSubido" id="{{idOperacion}}">
                                <input type="hidden" name="idOperacion" id="idOperacion" value="{{idOperacion}}">
                            <!-- </form> -->
                        </td>
                        <td><button>Adjuntar</button></td>
                    </tr>
                </table>

                <table class= "formulario3" border = "0">
                    <tr>
                        <td>Asociar categorías:</td>
                        <td></td>
                    </tr>
                    <!-- TR = Fila | TD = Columna-->
                    <tr>
                        <td>
                            {{#each criterios}}
                                <p>Criterio {{nombre}}:</p>
                                {{#each listaCategoriaCriterio}}
                                    <input type="checkbox" name="{{nombreCategoria}}" class="categoria" value="1"> {{nombreCategoria}}<br>
                                {{/each}}
                                <br>
                            {{/each}}
                        </td>

                        <td>
                            {{#each criterios2}}
                                <p>Criterio {{nombre}}:</p>
                                {{#each listaCategoriaCriterio}}
                                    <input type="checkbox" name="{{nombreCategoria}}" class="categoria" value="1"> {{nombreCategoria}}<br>
                                {{/each}}
                                <br>
                            {{/each}}
                        </td>
                    </tr>
                </table>

                <table class="formulario3" border="0">
                    <tr>
                        <td>Ser Revisor: </td>
                        <td>
                                <input name="revisor" type="radio" value="Si" id = "alta-revisor" />Si
                                <input name="revisor" type="radio" value="No" id = "alta-revisor" checked="checked"/>No
                        </td>
                    </tr>
                    <tr>
                        <td>Presupuestos requeridos:</td>
                        <td><input name="presupuestosRequeridos" id="alta-presupuestosRequeridos" min="0" max="1000" type="number" placeholder="Ej: 1" required></td>
                    </tr>
                </table>

            </center>

            <center>
                <table class="formulario2">
                    <tr> <!--yo quiero que en esta fila esten estas columnas-- la fila arranca y termina en tr.-->
                        <td>Item:</td>
                        <td><input type="text" placeholder="Ej: Papel" id="item"></td>
                        <td rowspan="3">
                            <button type="button" onclick="nuevaFilaEnItems()">Agregar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Precio Unitario:</td>
                        <td><input type="number" step="0.01" placeholder="Ej: 200.50" id="precio"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cantidad:</td>
                        <td><input type="number" step="1" min="1" max="1000" placeholder="Ej: 5" id="cantidad"></td>
                        <td></td>
                    </tr>
                </table>
            </center>

            <center>
                <div class="table-wrapper">
                    <table id="tabla_items">
                        <thead>
                        <tr>
                            <td>Item</td>
                            <td>Precio Unitario</td>
                            <td>Cantidad</td>
                            <td>Precio Total</td>
                            <td>Acciones</td>
                            <!-- Item, PrecioUnitario, Cantidad, PrecioTotal, Acciones -->
                        </tr>
                        </thead>
                        <tbody id = "content_table">
                        <tr>
                            <!--<td></td>
                            <td></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" onclick="mostrarModalGuardadoEgreso()">Guardar</button>
            </center>

        </form>
    </div>
<script src="/js/formatoDeTabla.js"></script>
<script src="/js/egreso.js"></script>
<script src="/js/proveedor.js"></script>

    <link rel="stylesheet" href="/css/estiloEgresos.css" />

{{/partial}}
{{>principalStandar.hbs}}