{{#partial "contenido"}}
    <div class="egresos">
        <br>
        <br>

        <form action="javascript:void(0)" method="post" >
            <center>

                <table class="formulario" border="0">
                    <tr>
                        <td>Fecha:</td>
                        <td><input type="date" name="fecha" id="alta-fecha" required></td>
                    </tr>
                    <tr>
                        <td>Tipo de Medio De Pago:</td>
                        <td>
                            <select name="medioDePago" id="alta-medioDePago" required >
                                <option hidden selected>-Seleccionar medio de pago-</option>
                                {{#each tiposMediosDePago}}
                                    <option>{{tipoPago}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Número Medio De Pago:</td>
                        <td><input type="number" name="numeroMedioDePago" id="alta-numeroMedioDePago" placeholder="Ej: 123456789" required></td>
                    </tr>
                    <tr>
                        <td>Tipo de Documento Comercial:</td>
                        <td>
                            <select name = "documentoComercial" id="alta-documentoComercial" required>
                                <option hidden selected>-Seleccionar documento comercial-</option>
                                {{#each tiposDocumentoComercial}}
                                    <option>{{nombre}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Número Documento Comercial:</td>
                        <td><input type="number" name="numeroDocumentoComercial" id="alta-numeroDocumentoComercial" placeholder="Ej: 123456789" required></td>
                    </tr>
                    <tr>
                        <td>Proveedor:</td>
                        <td>
                            <select name = "proveedor" id="alta-proveedor" required>
                                <option hidden selected> -Seleccionar proveedor-</option>
                                {{#each proveedores}}
                                    <option>{{razonSocialProveedor}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                </table>
            </center>
            <center>
            <table class= "formulario3" border = "0">
                <td>Asociar categorias:</td>
                <!-- TR = Fila | TD = Columna-->
                <tr>
                    <td>
                        {{#each criterios}}
                            <p>Criterio {{nombre}}:</p>
                            {{#each listaCategoriaCriterio}}
                                <input type="checkbox" name="{{nombreCategoria}}" value="1" class="categoria"> {{nombreCategoria}}<br>
                            {{/each}}
                            <br>
                        {{/each}}
                    </td>

                    <td>
                        {{#each criterios2}}
                            <p>Criterio {{nombre}}:</p>
                            {{#each listaCategoriaCriterio}}
                                <input type="checkbox" name="{{nombreCategoria}}" value="1" class="categoria"> {{nombreCategoria}}<br>
                            {{/each}}
                            <br>
                        {{/each}}
                    </td>
                </tr>

            </table>
            </center>

            <center>
                <table class="formulario3" border="0">
                    <tr>
                        <td>Presupuestos requeridos:</td>
                        <td><input name="presupuestosRequeridos" id="alta-presupuestosRequeridos" min="0" max="1000" type="number" placeholder="Ej: 1" required><br/></td>
                    </tr>
                </table>

            </center>

            <center>
                <table class="formulario2" border="0">
                    <tr style="background-color: white">
                        <td>Item:</td>
                        <td><input type="text" placeholder="Ej: Papel" id="item"></td>
                        <td rowspan="2">
                            <button type="button" onclick="nuevaFilaEnItems()">Agregar</button>
                        </td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td>Precio:</td>
                        <td><input type="number" step="0.01" placeholder="Ej: 200.50" id="precio"></td>
                        <td></td>
                    </tr>
                </table>
            </center>

            <center>
                <div class="table-wrapper">
                    <table id="tabla_items">
                        <thead>
                        <tr>
                            <th>ITEMS</th>
                            <th>PRECIO</th>
                            <td>ACCIONES</td>
                        </tr>
                        </thead>
                        <tbody id = "content_table">
                        <tr>
                            <!--<td></td>
                            <td></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" onclick="mostrarModalGuardadoEgreso()">Guardar</button>
            </center>

        </form>
    </div>
<script src="/js/formatoDeTabla.js"></script>
<link rel="stylesheet" href="/css/estiloEgresos.css" />

{{/partial}}
{{>principalStandar.hbs}}