{{#partial "contenido"}}
<div class = "listadoDeUsuarios">
    <br>
    <br>
    <form action="">
        <center>
                <div class="table-wrapper">
                    <table id="usuarios">
                        <thead>
                        <tr>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>USUARIO</th>
                            <th>TIPO DE USUARIO</th>
                            <th>HABILITADO</th>
                            <td>DAR DE BAJA</td>
                        </tr>
                        </thead>
                        <tbody id="content_table">
                            {{#each listadoDeUsuarios}}
                                <tr>
                                    <td>{{nombre}}</td>
                                    <td>{{apellido}}</td>
                                    <td>{{nombreUsuario}}</td>
                                    <td>{{tipo}}</td>
                                    <td>{{estoyHabilitado}}</td>
                                    <td>
                                       <!-- EL BOTON BORRAR TODAVIA NO ESTÃ IMPLEMENTADO-->
                                        <div>
                                            <!--<i class="fas fa-trash"  id = "borrar" value="Eliminar" /></i>-->
                                            <!--<i class="fas fa-trash"></i><input type="button" class="borrar" value="Eliminar" />-->

                                            <a href="/listadoDeUsuarios" class="fas fa-trash" onclick="eliminarUsuario('{{id}}')">
                                                <!-- <i class="fas fa-trash"></i> -->
                                                <!--<button name="button" class="fas fa-trash" ></button>-->
                                            </a>


                                        </div>
                                    </td>

                                </tr>
                            {{/each}}
                        </tbody>




                    </table>
                </div>
        </center>
    </form>
</div>
<script src="/js/listadoDeUsuarios.js"></script>
<!--<link rel="stylesheet" href="/css/listadoDeUsuarios.css" />-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


{{/partial}}
{{>principalAdministrador.hbs}}