{{#partial "contenido"}}
<div class = "listadoDeUsuarios">
    <br>
    <br>
    <form action="">
        <center>
                <div class="table-wrapper">
                    <table id="usuarios">
                        <thead>
                        <tr>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>USUARIO</th>
                            <th>TIPO USUARIO</th>
                            <th>ESTOY HABILITADO</th>
                            <th>BORRAR</th>
                        </tr>
                        </thead>
                        <tbody id="content_table">
                            {{#each listadoDeUsuarios}}
                                <tr>
                                    <td>{{nombre}}</td>
                                    <td>{{apellido}}</td>
                                    <td>{{nombreUsuario}}</td>
                                    <td>{{tipo}}</td>
                                    <td>{{estoyHabilitado}}</td>
                                    <td>
                                       <! EL BOTON BORRAR TODAVIA NO ESTÃ IMPLEMENTADO-->
                                        <div>
                                        <i class="fas fa-trash"  id = "borrar" value="Eliminar" /></i>
                                        </div>
                                    </td>

                                </tr>
                            {{/each}}
                        </tbody>


                    </table>
                </div>
        </center>
    </form>
</div>
<script src="/js/listadoDeUsuarios.js"></script>
<link rel="stylesheet" href="/css/listadoDeUsuarios.css" />
{{/partial}}
{{>principalAdministrador.hbs}}