{{#partial "contenido"}}
 
<div class = "listadoOperaciones">

    <!-- <form> -->
        <center class="operaciones">

    <h2>LISTADO DE OPERACIONES DE EGRESO</h2>

    <h3>Filtrar por Categoría: <select name="nombreCategoria" id="alta-nombreCategoria">
        <option hidden selected> Seleccionar categoría </option>
        {{#each categorias}} <!-- este se alimenta del put de controller -->
            <option>{{nombreCategoria}}</option>
        {{/each}}
    </select>
        <button type="button" onclick="mostrarFiltradoEgresos()" > Filtrar </button>
    </h3>

     <div class="table-wrapper">
        <table id="tabla_operaciones_egreso">
            <thead>
                <tr>
                    <th>Número de operación</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <td>Detalle</td>
                    <td>Documento</td>
                    <td>Descargar Documento</td>
                </tr>
            </thead>
        <tbody id="content_table">
                {{#each operacionesEgreso}}
                <tr>
                    <td> {{idOperacion}} </td>
                    <td>{{usuario.nombreUsuario}}</td>
                    <td>{{fecha}}</td>
                    <td>{{montoTotal}}</td>
                    <td>
                        <button type="button" onclick="mostrarDetallesEgreso({{idOperacion}})" > Detalle</button>
                    </td>
                    <td>
                        <form method="post" enctype="multipart/form-data" action="/guardarDocumentoEgreso">
                            <input type="file" name="documentoSubido" id="{{idOperacion}}">
                            <input type="hidden" name="idOperacion" id="idOperacion" value="{{idOperacion}}">
                            <button>Adjuntar</button>
                        </form>
                    </td>
                    <td>
                        {{#if hayDocumentoGuardado}}
                            <form method="post" enctype="multipart/form-data" action="/descargarDocumentoEgreso">
                                <input type="hidden" name="idOperacion" id="idOperacion" value="{{idOperacion}}">
                                <button>Descargar</button>
                            </form>
                        {{else}}
                            <p>No hay documento guardado</p>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>

            
        </table>
	</div>

<!--  Tabla de ingresos  -->

<h3>LISTADO DE OPERACIONES DE INGRESO</h3>
 <div class="table-wrapper">
        <table id="tabla_operaciones_ingreso">
            <thead>
                <tr>
                    <th>Número operación</th>
                    <th>Descripción</th>
                    <td>Fecha</td>
                    <td>Monto</td>
                    <td>Detalle</td>
                </tr>
            </thead>
        <tbody id="content_table">
                {{#each operacionesIngreso}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{fecha}}</td>
                    <td>{{montoTotal}}</td>
                    <td>
                        <button type="button" onclick="mostrarDetallesIngreso({{id}})"> Detalle</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>

            
        </table>
	</div>

    </center>
    <!-- </form> -->

</div>
<script src="/js/egreso.js"></script>
<script src="/js/ingreso.js"></script>

<link rel="stylesheet" href="/css/estiloListadoOperaciones.css" />

{{/partial}}
{{>principalStandar.hbs}}