{{#partial "contenido"}}
 
<div class = "listadoOperaciones">
    
  <form>
    <center class="operaciones">

        <table class= "criterio">
<!--  Tabla de egresos  -->
    <!--<tr>

     <td>CRITERIO:</td>
      <td> <select name = "criterio" >
         <option> Seleccionar Criterio</option><br>
       </select>
        

     <td>CATEGORIA:</td>
      <td> 
            // Deben aparecer varias categorias
          
            <input type="checkbox" name="categoria" value="1">categoria1<br>
          
      <td>
      <td rowspan="2">
         <div class="buttons">
            <button type="button" >Filtrar</button>
         </div>
       </td>
       
     </tr>-->
     

        </table>

<label>LISTADO DE OPERACIONES DE EGRESO</label>
     <div class="table-wrapper">
        <table id="tabla_operaciones_ingreso">
            <thead>
                <tr>
                    <th>NUMERO OPERACION</th>
                    <th>USUARIO</th>
                    <th>MEDIO DE PAGO</th>
                    <th>DOCUMENTO COMERCIAL</th>
                    <td>MONTO</td>
                    <td>FECHA</td>
                </tr>
            </thead>
        <tbody id="content_table">
                {{#each operacionesEgreso}}
                <tr>
                    <td>{{idOperacion}}</td>
                    <td>{{usuario.nombreUsuario}}</td>
                    <td>{{medioDePago.tipo.tipoPago}}</td>
                    <td>{{documentoComercial.tipo.nombre}}</td>
                    <td>{{montoTotal}}</td>
                    <td>{{fecha}}</td>
                </tr>
                {{/each}}
            </tbody>

            
        </table>
	</div>

<!--  Tabla de ingresos  -->

<label>LISTADO DE OPERACIONES DE INGRESO</label>
 <div class="table-wrapper">
        <table id="tabla_operaciones_ingreso">
            <thead>
                <tr>
                    <th>NUMERO OPERACION</th>
                    <th>DESCRIPCION</th>
                    <td>MONTO</td>
                    <td>FECHA</td>
                </tr>
            </thead>
        <tbody id="content_table">
                {{#each operacionesIngreso}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{montoTotal}}</td>
                    <td>{{fecha}}</td>
                </tr>
                {{/each}}
            </tbody>

            
        </table>
	</div>

    </center>
    </form>    

</div>

 <link rel="stylesheet" href="/css/estiloListadoOperaciones.css" />
{{/partial}}
{{>principal.hbs}}