{{#partial "contenido"}}
 
<div class = "listadoOperaciones">
    
  <form>
    <center class="operaciones">

        <table class= "criterio">
<!--  Tabla de egresos  -->
    <!--<tr>

     <td>CRITERIO:</td>
      <td> <select name = "criterio" >
         <option> Seleccionar Criterio</option><br>
       </select>
        

     <td>CATEGORIA:</td>
      <td> 
            // Deben aparecer varias categorias
          
            <input type="checkbox" name="categoria" value="1">categoria1<br>
          
      <td>
      <td rowspan="2">
         <div class="buttons">
            <button type="button" >Filtrar</button>
         </div>
       </td>
       
     </tr>-->
     

        </table>

<h3>LISTADO DE OPERACIONES DE EGRESO</h3>
     <div class="table-wrapper">
        <table id="tabla_operaciones_egreso">
            <thead>
                <tr>
                    <th>Número de operación</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <td>Detalle</td>
                    <td>Editar</td>
                </tr>
            </thead>
        <tbody id="content_table">
                {{#each operacionesEgreso}}
                <tr>
                    <td> {{idOperacion}} </td>
                    <td>{{usuario.nombreUsuario}}</td>
                    <td>{{fecha}}</td>
                    <td>{{montoTotal}}</td>
                    <td>
                        <button type="button" onclick="mostrarDetallesEgreso({{idOperacion}})" > Detalle</button>
                    </td>
                    <td>
                        <button type="button" onclick="editarEgreso()" > Editar</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>

            
        </table>
	</div>

<!--  Tabla de ingresos  -->

<h3>LISTADO DE OPERACIONES DE INGRESO</h3>
 <div class="table-wrapper">
        <table id="tabla_operaciones_ingreso">
            <thead>
                <tr>
                    <th>NÚMERO OPERACIÓN</th>
                    <th>DESCRIPCIÓN</th>
                    <td>MONTO</td>
                    <td>FECHA</td>
                </tr>
            </thead>
        <tbody id="content_table">
                {{#each operacionesIngreso}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{montoTotal}}</td>
                    <td>{{fecha}}</td>
                </tr>
                {{/each}}
            </tbody>

            
        </table>
	</div>

    </center>
    </form>    

</div>

 <link rel="stylesheet" href="/css/estiloListadoOperaciones.css" />
{{/partial}}
{{>principalStandar.hbs}}