<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">
                <i class="fas fa-plus-circle"></i>
                ¡Nueva Entidad Jurídica!
            </h1>
        </div>
        <div class="modal-body">
            <div class = "altaEntidadJuridica">
                <center>
                    <form action="javascript:void(0)" method="post">
                        <table class= "formulario" border = 0 >
                            <tr>
                                <td>Nombre:</td>
                                <td><input type="text" name="nombreEntidadJuridica" id = "altaEntidadJuridica-nombre" placeholder="Ingrese un nombre" required></td>
                            </tr>
                            <tr>
                                <td>Nombre Ficticio:</td>
                                <td><input type="text" name="nombreFicticioEntidadJuridica" id = "altaEntidadJuridica-nombreFicticio" placeholder="Ingrese un nombre ficticio" required></td>
                            </tr>
                            <tr>
                                <td>Código Inscripcion Definitiva:</td>
                                <td><input type="text" name="codigoInscripcionDefinitiva" id = "altaEntidadJuridica-codigo" placeholder="Ingrese un CID"  required></td>
                            </tr>
                            <tr>
                                <td>Cuit:</td>
                                <td><input type="text" name="cuitEntidadJuridica" id = "altaEntidadJuridica-cuitEntidadJuridica" placeholder="Ingrese un CUIT" required></td>
                            </tr>
                            <tr>
                                <td>Razón Social:</td>
                                <td><input type="text" name="razonSocialEntidadJuridica" id = "altaEntidadJuridica-razonSocial" placeholder="Ingrese una razón social" required></td>
                            </tr>
                            <tr>
                                <td>País:</td>
                                <td>
                                    <select name="pais" id="altaEntidadJuridica-pais" required >
                                        <option hidden selected>Seleccionar país</option>
                                        {{#each listaPaisesEJ}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Provincia:</td>
                                <td>
                                    <select name="provincia" id="altaEntidadJuridica-provincia"required disabled>
                                        <option hidden selected>Seleccionar provincia</option>
                                        {{#each listaProvinciasEJ}}
                                            <option value="{{id}}" data-attribute="{{paisAsociado.id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Ciudad:</td>
                                <td>
                                    <select name="ciudad"  id="altaEntidadJuridica-ciudad" required disabled>
                                        <option hidden selected>Seleccionar Ciudad</option>
                                        {{#each listaCiudadesEJ}}
                                            <option value="{{id}}" data-attribute="{{provinciaAsociada.id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Barrio:</td>
                                <td><input type="text" name="barrio" id="altaEntidadJuridica-barrio" placeholder="Ingrese su barrio" ></td>
                            </tr>
                            <tr>
                                <td>Calle:</td>
                                <td><input type="text" name="calle" id="altaEntidadJuridica-calle" placeholder="Ingrese su calle" required></td>
                            </tr>
                            <tr>
                                <td>Altura:</td>
                                <td><input type="number" min="0" name="altura" id="altaEntidadJuridica-altura" placeholder="Ingrese la altura" required></td>
                            </tr>
                            <tr>
                                <td>Departamento:</td>
                                <td><input type="text" name="departamento" id="altaEntidadJuridica-departamento" placeholder="Ingrese su departamento" ></td>
                            </tr>
                            <tr>
                                <td>Piso:</td>
                                <td><input type="number"  min="0" name="piso" id="altaEntidadJuridica-piso" placeholder="Número de piso" ></td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal" onClick="location.reload();">
                                Cancelar
                            </button>
                            <button type="submit" onclick="mostrarModalConfirmarGuardarNuevaEntidadJuridica()">
                                Guardar
                            </button>
                        </div>
                    </form>
                </center>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/modalAccionesUsuarios.css" />
<script src="/js/accionesEntidadJuridica.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">