<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">
                Listado de Operaciones de Egreso con categoria "{{nombreCategoria}}"</h1>
        </div>
        <div class="modal-body">
            <div class="table-wrapper">
                <table id="tabla_operaciones_egreso">
                    <thead>
                    <tr>
                        <th>Número de Operación</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Detalle</th>
                        <th>Archivo</th>
                        <th>Descargar Documento</th>

                    </tr>
                    </thead>
                    <tbody id="content_table">
                    {{#each egresosPorCategoria}}
                        <tr>
                            <td> {{idOperacion}} </td>
                            <td>{{usuario.nombreUsuario}}</td>
                            <td>{{fecha}}</td>
                            <td>{{montoTotal}}</td>
                            <td>
                                <button type="button" onclick="mostrarDetallesEgreso({{idOperacion}})" > Detalle</button>
                            </td>
                            <td>
                                <form method="post" enctype="multipart/form-data" action="javascript:void(0)" id="formularioArchivo{{idOperacion}}">
                                    <input type="file" name="documentoSubido" id="{{idOperacion}}">
                                    <input type="hidden" name="idOperacion" id="idOperacion" value="{{idOperacion}}">
                                    <button type="button" onclick="subirDocumento({{idOperacion}})">Adjuntar</button>
                                </form>
                            </td>
                            <td>
                                {{#if hayDocumentoGuardado}}
                                    <form method="post" enctype="multipart/form-data" action="/descargarDocumentoEgreso">
                                        <input type="hidden" name="idOperacion" id="idOperacion" value="{{idOperacion}}">
                                        <button>Descargar</button>
                                    </form>
                                {{else}}
                                    <p>No hay documento guardado</p>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>

                </table>
                <div class="modal-footer">
                    <button type="button"  onclick="" class="btn" data-dismiss="modal" > Aceptar </button>
                </div>
            </div>
        </div>
        <script src="/js/accionesUsuarios.js"></script>
        <script src="/js/egreso.js"></script>

        <link rel="stylesheet" href="/css/modalVarios.css"/>