{{#partial "contenido"}}

    <div class="modal-agregar-presupuesto">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="tituloModal" class="modal-title">
                    AGREGAR PRESUPUESTO
                </h1>
            </div>
            <div class="modal-body">
                        <center>
                            <table class= "formulario" border = 0 >
                                <tr>
                                    <td>Fecha:</td>
                                    <td><input type="date" name="fecha" id="alta-fecha" required></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Tipo de Documento Comercial:</td>
                                    <td>
                                        <select name = "documentoComercial" id="alta-tipoDocumentoComercial">
                                            <option>Seleccionar documento comercial</option>
                                            {{#each tiposDocumentoComercial}}
                                                <option>{{nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Número Documento Comercial:</td>
                                    <td><input type="number" min="0" name="numeroDocumentoComercial" id="alta-numeroDocumentoComercial" placeholder="Ingrese el número" required></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Seleccionar proveedor:</td>
                                    <td>
                                        <select name = "proveedor" id="alta-proveedor">
                                            <option>Seleccionar proveedor</option>
                                            {{#each proveedores}}
                                                <option>{{razonSocialProveedor}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>

                            <table class= "formulario3" border = "0">
                                <td>Asociar categorías:</td>
                                <td></td>
                                <!-- TR = Fila | TD = Columna-->
                                <tr>
                                    <td>
                                        {{#each criterios}}
                                            <p>Criterio {{nombre}}:</p>
                                            {{#each listaCategoriaCriterio}}
                                                <input type="checkbox" name="{{nombreCategoria}}" class="categoria" value="1"> {{nombreCategoria}}<br>
                                            {{/each}}
                                            <br>
                                        {{/each}}
                                    </td>

                                    <td>
                                        {{#each criterios2}}
                                            <p>Criterio {{nombre}}:</p>
                                            {{#each listaCategoriaCriterio}}
                                                <input type="checkbox" name="{{nombreCategoria}}"  class="categoria" value="1"> {{nombreCategoria}}<br>
                                            {{/each}}
                                            <br>
                                        {{/each}}
                                    </td>
                                </tr>
                            </table>
                            <center>
                            <table class="formulario2">
                                <tr> <!--yo quiero que en esta fila esten estas columnas-- la fila arranca y termina en tr.-->
                                    <td>Item:</td>
                                    <td><select id="item" required>
                                        <option hidden selected>Seleccionar item</option>
                                        {{#each items}}
                                            <option value="{{descripcion}},{{cantidad}}:{{precioUnitario}}" data-attribute="{{descripcion}}">{{descripcion}} | Cantidad: {{cantidad}} | Precio: {{precioUnitario}}</option>
                                        {{/each}}
                                    <td rowspan="3">
                                        <button type="button" onclick="nuevaFilaEnItemsDePresupuesto()">Agregar</button>
                                    </td>
                                </tr>
                            </table>
                                <center>
                                    <center>
                                        <div class="table-wrapper">
                                            <table id="tabla_items">
                                                <thead>
                                                <tr>
                                                    <td>Item</td>
                                                    <td>Precio Unitario</td>
                                                    <td>Cantidad</td>
                                                    <td>Precio Total</td>
                                                    <td>Acciones</td>
                                                    <!-- Item, PrecioUnitario, Cantidad, PrecioTotal, Acciones -->
                                                </tr>
                                                </thead>
                                                <tbody id = "content_table">
                                                <tr>
                                                    <!--<td></td>
                                                    <td></td>-->
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </center>
                                </center>
                            </center>
                        </center>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" > Cancelar </button>
                    <button type="submit" class="botonGuardar" onclick="mostrarModalGuardadoPresupuestos()"> Guardar</button>
                </div>
            </div>
        </div>
    </div>
    </div>

<script src="/js/formatoDeTabla.js"></script>
    <script src="/js/operacionesComunes.js"></script>
    <script src="/js/presupuesto.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<link rel="stylesheet" href="/css/estiloPresupuestos.css" />
    <link rel="stylesheet" href="/css/modalVarios.css" />

{{/partial}}
{{>principalStandar.hbs}}