<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">
                <i class="fas fa-plus-circle"></i>
                ¡Nuevo Proveedor!
            </h1>
        </div>
        <div class="modal-body">
            <div class = "altaProveedor">
                <center>
                    <form action="javascript:void(0)" method="post">
                        <table class= "formulario" border = 0 >
                            <tr>
                                <td>Nombre:</td>
                                <td><input type="text" name="nombre" id="altaProveedor-nombre" placeholder="Ingrese un nombre"></td>
                            </tr>
                            <tr>
                                <td>Apellido:</td>
                                <td><input type="text" name="apellido" id="altaProveedor-apellido" placeholder="Ingrese un apellido"></td>
                            </tr>
                            <tr>
                                <td>Razón Social:</td>
                                <td><input type="text" name="razonSocial" id="altaProveedor-razonSocial" placeholder="Ingrese una razón social"></td>
                            </tr>
                            <tr>
                                <td>CUIT/CUIL:</td>
                                <td><input type="number" min="0" name="cuit_cuil" id="altaProveedor-cuit_cuil" placeholder="Ingrese un CUIT/CUIL"></td>
                            </tr>
                            <tr>
                                <td>País:</td>
                                <td>
                                    <select name="pais" id="altaProveedor-pais">
                                        <option value="0" hidden selected>Seleccionar país</option>
                                        {{#each listaPaises}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Provincia:</td>
                                <td>
                                    <select name="provincia" id="altaProveedor-provincia" disabled>
                                        <option value="0" hidden selected>Seleccionar provincia</option>
                                        {{#each listaProvincias}}
                                            <option value="{{id}}" data-attribute="{{paisAsociado.id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Ciudad:</td>
                                <td>
                                    <select name="ciudad"  id="altaProveedor-ciudad" disabled>
                                        <option value="0" hidden selected>Seleccionar Ciudad</option>
                                        {{#each listaCiudades}}
                                            <option value="{{id}}" data-attribute="{{provinciaAsociada.id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Barrio:</td>
                                <td><input type="text" name="barrio" id="altaProveedor-barrio" placeholder="Ingrese un barrio" ></td>
                            </tr>
                            <tr>
                                <td>Calle:</td>
                                <td><input type="text" name="calle" id="altaProveedor-calle" placeholder="Ingrese un nombre de calle"></td>
                            </tr>
                            <tr>
                                <td>Altura:</td>
                                <td><input type="number" min="0" name="altura" id="altaProveedor-altura" placeholder="Ingrese la altura"></td>
                            </tr>
                            <tr>
                                <td>Departamento:</td>
                                <td><input type="text" name="departamento" id="altaProveedor-departamento" placeholder="Ingrese un departamento" ></td>
                            </tr>
                            <tr>
                                <td>Piso:</td>
                                <td><input type="number"  min="0" name="piso" id="altaProveedor-piso" placeholder="Número de piso"></td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal" onClick="location.reload();">
                                Cancelar
                            </button>
                            <button type="submit" onclick="mostrarModalConfirmarNuevoProveedor()">
                                Guardar
                            </button>
                        </div>
                    </form>
                </center>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/modalVarios.css" />
<script src="/js/accionesProveedores.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">