<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">
                <a class="fas fa-edit"></a>
                ¡Editar un usuario!
            </h1>
        </div>
        <div class="modal-body">
            <div class = "altaUsuario">
                <form action= "javascript:void(0)" method="post">
                    <center>
                        <table class= "formulario" border = 0 >
                            <tr>
                                <td>Nombre:</td>
                                <td><input type="text" name="nombre" id = "altaUsuario-nombre" value="{{miNombre}}"></td>
                            </tr>
                            <tr>
                                <td>Apellido:</td>
                                <td><input type="text" name="apellido" id = "altaUsuario-apellido" value="{{miApellido}}"></td>
                            </tr>
                            <tr>
                                <td>Nombre de usuario:</td>
                                <td><input type="text" name="nombreDeUsuario" id = "altaUsuario-nombreDeUsuario" value="{{miNombreDeUsuario}}"></td>
                            </tr>
                            <tr>
                                <td>Cambiar contraseña:
                                    <input name="cambioContrasenia" type="radio" value="cambioContrasenia" id = "altaUsuario-cambioContrasenia" />Si
                                    <input name="cambioContrasenia" type="radio" value="noCambioContrasenia" id = "altaUsuario-noCambioContrasenia" checked="checked"/>No
                                    <br>
                                    <br>
                                    Contraseña:
                                </td>
                                <td><br>
                                    <br><input type="password" name="contrasenia"   id = "altaUsuario-contrasenia" value="{{miContrasenia}}" disabled></td>
                            </tr>
                            <tr>
                                <td>Entidad jurídica:</td>
                                {{#if razonSocialEntidadJuridica}}
                                    <td><input type="text" name="miEntidad" id = "altaUsuario-miEntidad" value="{{razonSocialEntidadJuridica}}" disabled></td>
                                {{else}}
                                    <td><input type="text" name="miEntidad" id = "altaUsuario-miEntidad" value="{{nombreEntidadJuridica}}" disabled></td>
                                {{/if}}

                            </tr>
                            <tr>
                                <td>Cambiar entidad jurídica:
                                    <input name="cambioEntidadJuridica" type="radio" value="cambioEntidadJuridica" id = "altaUsuario-cambioEntidadJuridica" />Si
                                    <input name="cambioEntidadJuridica" type="radio" value="noCambioEntidadJuridica" id = "altaUsuario-noCambioEntidadJuridica" checked="checked"/>No
                                    <br>
                                    <br>
                                    Nueva entidad juridica:
                                </td>
                                <td><br>
                                    <br>
                                    <select name = "entidad" id = "altaUsuario-entidad" title="Elija una opción" disabled>
                                        <option value="0" hidden selected>Elegir una entidad jurídica</option>
                                        {{#each entidadesJuridicas}}
                                            {{#if razonSocialEntidadJuridica}}
                                                <option value="{{id}}">{{razonSocialEntidadJuridica}}</option>
                                            {{else}}
                                                <option value="{{id}}">{{nombreEntidadJuridica}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal" >
                                Cancelar
                            </button>
                            <button type="submit" class="btn" data-dismiss="modal3" onclick="mostrarModalParaConfirmarCambiosRealizadosEnUsuario({{miId}})">
                                Guardar
                            </button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/accionesUsuarios.js"></script>
<link rel="stylesheet" href="/css/modalVarios.css" />