<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">
                <a class="fas fa-edit"></a>
                ¡Editar Empresas!
            </h1>
        </div>
        <div class="modal-body">
            <div class = "listadoDeUsuarios">
                <center>
                    <div class="table-wrapper">
                        <table id="proveedores">
                            <thead>
                            <tr>
                                <th>Nombre Ficticio</th>
                                <th>Razón social</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="content_table">
                            {{#each listaEntidadesOrgSocDeEntidadJuridica}}
                                <tr>
                                    <td>{{nombreFicticioEntidad}}</td>
                                    <td>{{razonSocialEntidad}}</td>
                                    <td>
                                        {{#if estoyHabilitado}}
                                            <div>
                                                <a class="fas fa-edit" onclick="mostrarModalParaConfirmarEditarUnaEntidadEmpresa('{{id}}')" style="cursor: pointer; margin-right: 10px;">Editar</a>

                                                <a class="fas fa-trash" onclick="mostrarModalParaConfirmarDarDeBajaEntidadEmpresa('{{id}}')" style="cursor: pointer">Dar de baja</a>

                                            </div>
                                        {{else}}
                                            <div>
                                                <a class="fas fa-edit" onclick="mostrarModalConfirmarHabilitarEmpresa('{{id}}')" style="cursor: pointer"></a>
                                                Habilitar
                                            </div>
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" >
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/js/accionesEntidadJuridica.js"></script>
<link rel="stylesheet" href="/css/modalVarios.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
