{{#partial "contenido"}}

<div class = "presupuestos">
    <br>
    <br>

    <form action="javascript:void(0)" method="post">
     <center>
         <h3>AGREGAR PRESUPUESTO</h3>
        <table class= "formulario1">
            <tr>
                <td>Operación de Egreso asociada:</td>
                <td>
                    <select name="operacionEgreso" id="alta-operacionEgreso" required >
                        <option hidden selected> Seleccionar una operación de egreso </option>
                        {{#each operacionesEgreso}}
                            <option>ID: {{idOperacion}} | Fecha: {{fecha}} | Monto: {{montoTotal}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <button type="button" onclick="mostrarDetallesEgresoEnPresupuesto()" > Detalle</button>
                </td>
            </tr>
            <tr>
                <td>Tipo de Documento Comercial:</td>
                <td>
                    <select name = "documentoComercial" id="alta-tipoDocumentoComercial">
                        <option>Seleccionar documento comercial</option>
                        {{#each tiposDocumentoComercial}}
                            <option>{{nombre}}</option>
                        {{/each}}
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Número Documento Comercial:</td>
                <td><input type="number" min="0" name="numeroDocumentoComercial" id="alta-numeroDocumentoComercial" placeholder="Ingrese el número" required></td>
                <td></td>
            </tr>

        </table>
              
        <table class= "formulario3" border = "0">
          <td>Asociar categorías:</td>
            <td></td>
            <!-- TR = Fila | TD = Columna-->
            <tr>
                <td>
                   {{#each criterios}}
                       <p>Criterio {{nombre}}:</p>
                       {{#each listaCategoriaCriterio}}
                       <input type="checkbox" name="{{nombreCategoria}}" class="categoria" value="1"> {{nombreCategoria}}<br>
                       {{/each}}
                       <br>
                   {{/each}}
                </td>

                <td>
                    {{#each criterios2}}
                        <p>Criterio {{nombre}}:</p>
                        {{#each listaCategoriaCriterio}}
                            <input type="checkbox" name="{{nombreCategoria}}" value="1"> {{nombreCategoria}}<br>
                        {{/each}}
                        <br>
                    {{/each}}
                </td>
            </tr>

        </table>

         <center>
             <table class="formulario2">
                 <tr> <!--yo quiero que en esta fila esten estas columnas-- la fila arranca y termina en tr.-->
                     <td>Item:</td>
                     <td><input type="text" placeholder="Ej: Papel" id="item"></td>
                     <td rowspan="3">
                         <button type="button" onclick="nuevaFilaEnItems()">Agregar</button>
                     </td>
                 </tr>
                 <tr>
                     <td>Precio Unitario:</td>
                     <td><input type="number" step="0.01" placeholder="Ej: 200.50" id="precio"></td>
                     <td></td>
                 </tr>
             </table>

         </center>

         <center>
             <div class="table-wrapper">
                 <table id="tabla_items">
                     <thead>
                     <tr>
                         <td>Items</td>
                         <td>Precio</td>
                         <td>Acciones</td>
                     </tr>
                     </thead>
                     <tbody id = "content_table">
                     <tr>
                     </tr>
                     </tbody>
                 </table>
             </div>
             <button type="submit" onclick="mostrarModalGuardadoPresupuestos()"> Guardar</button>
         </center>
	</center>
    </form>
    
</div>
<script src="/js/formatoDeTabla.js"></script>
<script src="/js/presupuesto.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<link rel="stylesheet" href="/css/estiloPresupuestos.css" />

{{/partial}}
{{>principalStandar.hbs}}